<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.github.leejaywon.liddddd.helper</string>
    <key>BundleProgram</key>
    <string>Contents/Library/LaunchServices/LidddddHelper</string>
    <key>MachServices</key>
    <dict>
        <key>io.github.leejaywon.liddddd.helper</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ProcessType</key>
    <string>Background</string>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>io.github.leejaywon.liddddd</string>
    </array>
</dict>
</plist>
